<% content_for :head do %>
  <%= javascript_import_module_tag "posts" %>
<% end %>

<h1 class="page-title">Posts</h1>

<div class="posts-list">
  <% if @posts.empty? %>
    <h2>No posts to show!</h2>
  <% else %>
    <% @posts.each do |post| %>
      <%= render partial: "post_card", locals: { post: post } %>
    <% end %>
  <% end %>
</div>
